.section.explorer-teaser-container {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.explorer-teaser-wrapper {
    max-width: 100%!important;
}

.section.explorer-teaser-container .default-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
    padding-bottom: var(--spacing-l);
}

.explorer-teaser > div > div:nth-child(2) h3 a {
    color: var(--link-color-secondary);
    text-decoration: none;
}

.explorer-teaser > div > div:nth-child(2) h3 a:hover {
    text-decoration: underline;
}

.explorer-teaser > div > div > p:has(picture) {
    margin: 0;
    padding: 0;
}

.explorer-teaser > div > div:nth-child(2) p {
    margin: 0;
    padding: 0 var(--spacing-l) var(--spacing-m) var(--spacing-m);
}

.explorer-teaser > div > div:first-child > p:has(picture) {
    width: 100%;
    max-height: 100%;
}

.explorer-teaser > div > div:nth-child(2) h3 {
    font-size: 1.17em;
    padding: var(--spacing-m) var(--spacing-l) 0 var(--spacing-m);
    margin: 0 0 var(--spacing-xs);
    border-top: 1px solid var(--border-color);
}

.explorer-teaser > div:first-child > div:first-child h3 a {
    font-size: var(--body-font-size-xl);
    color: var(--link-color-secondary);
    letter-spacing: normal;
    text-decoration: none;
}

.explorer-teaser > div:first-child > div h3 a:hover {
    color: var(--icon-link-hover);
    text-decoration: underline;
}

.explorer-teaser > div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.explorer-teaser > div > div:first-child {
    display: flex;
    justify-content: flex-end;
}

.explorer-teaser > div > div:first-child img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.explorer-teaser > div > div:first-child h3 {
    position: absolute;
    background: var(--background-color);
    white-space: break-spaces;
    text-align: right;
    max-width: 475px;
    padding: var(--spacing-xs) var(--spacing-m) var(--spacing-xs) var(--spacing-xs);
    margin-right: var(--spacing-s);
    margin-top: 80px;
    margin-left: var(--spacing-l);
}

.explorer-teaser > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 33% 66%;
    margin-right: auto;
    width: 555px;
}

.explorer-teaser > div > div:nth-child(2) > p:has(picture) {
    grid-row: auto / span 2;
    margin-left: var(--spacing-s);
    padding: var(--spacing-m) var(--spacing-s);
    border-top: 1px solid var(--border-color);
}

.explorer-teaser > div > div:nth-child(2) p:nth-last-child(3),
.explorer-teaser > div > div:nth-child(2) p:nth-last-child(5) {
    border-bottom: 1px solid var(--border-color);
}

.explorer-teaser > div > div:nth-child(2) a.button {
    font-weight: var(--font-weight-heavy);
    text-decoration: underline;
    text-transform: uppercase;
    background-color: var(--background-color);
    border: 1px solid var(--link-highlight-color);
    border-radius: 0;
    color: var(--link-highlight-color);
    padding-bottom: var(--spacing-s);
    padding-top: var(--spacing-s);
    margin-bottom: 0;
}

.explorer-teaser > div > div:nth-child(2) a.button:hover {
    color: var(--background-color);
    background-color: var(--link-highlight-color);
}

.explorer-teaser > div > div:nth-child(2) p:last-child {
    line-height: var(--body-font-line-height);
}

.explorer-teaser > div > div:nth-child(2) p:last-child a.button {
    border: none;
    text-transform: none;
    color: var(--link-color-secondary);
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
}

.explorer-teaser > div > div:nth-child(2) p:last-child a.button::after {
    font-family: chFont, sans-serif;
    font-size: .8em;
    content: " \E816";
}

.explorer-teaser > div > div:nth-child(2) p:last-child a.button:hover {
    background: none;
    color: var(--link-color);
}

.explorer-teaser > div > div:nth-child(2) .button-container {
    grid-column: span 2;
    margin-left: auto;
    padding: 0;
    margin-right: var(--spacing-s);
    margin-bottom: var(--spacing-xs);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .section.explorer-teaser-container .default-content-wrapper {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .explorer-teaser > div:first-child {
        display: block;
    }

    .explorer-teaser > div > div:first-child {
        display: block;
        position: relative;
    }

    .explorer-teaser > div > div:nth-child(2) {
        display: block;
        width: 100% !important;
    }

    .explorer-teaser > div > div:first-child img {
        position: inherit;
        object-fit: cover;
        max-height: 300px;
        width: 100%;
    }

    .explorer-teaser > div > div:first-child h3 {
        top: 0;
        right: 0;
        margin-right: 0;
        padding: var(--spacing-m);
    }

    .explorer-teaser > div > div:nth-child(2) p {
        padding: 0 var(--spacing-l);
    }

    .explorer-teaser > div > div:nth-child(2) > p:has(picture) {
        border: none;
        padding: var(--spacing-l) var(--spacing-l) 0;
        margin: 0;
    }

    .explorer-teaser > div > div:nth-child(2) p:nth-last-child(2),
    .explorer-teaser > div > div:nth-child(2) p:last-child {
        margin-top: var(--spacing-xs);
        padding-right: var(--spacing-l);
    }

    .explorer-teaser > div > div:nth-child(2) img {
        width: 100%;
    }

    .explorer-teaser > div > div:nth-child(2) h3 {
        border: none;
        padding: 0 var(--spacing-l);
    }

    .explorer-teaser > div > div:nth-child(2) p:nth-last-child(3),
    .explorer-teaser > div > div:nth-child(2) p:nth-last-child(5) {
        border: none;
    }
}

@media (min-width: 1200px) {
    .section.explorer-teaser-container .default-content-wrapper {
        width: 1170px;
    }
}

@media (max-width: 1200px) {
    .explorer-teaser > div > div:nth-child(2) {
        grid-template-columns: 37% 63%;
        width: 455px;
    }

    .explorer-teaser > div > div:first-child h3 {
        max-width: 345px;
    }
}

@media (min-width: 992px) {
    .section.explorer-teaser-container .default-content-wrapper {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .explorer-teaser > div > div:first-child h3 {
        max-width: 265px;
    }

    .explorer-teaser > div > div:nth-child(2) {
        grid-template-columns: 60% 130%;
        width: 180px;
    }
}

@media (max-width: 768px) {
    .explorer-teaser > div > div:first-child h3 {
        max-width: 535px;
    }
}
