.section.hero-container {
    padding-bottom: 0;
}

.section.hero-container .hero-wrapper {
    padding-top: 0;
}

.section.hero-container h2 {
    text-align: center;
    font-size: 24px;
}

.hero.block picture:first-of-type img {
    height: 430px;
    position: relative;
    object-fit: cover;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    max-width: 100vw;
}

.hero.block picture:last-of-type {
    display: block;
    height: 0;
    text-align: center;
}

.hero.block picture:last-of-type img {
    position: relative;
    top: -415px;
}

@media (min-width: 992px) {
    .hero.block picture:first-of-type img {
        height: 395px;
    }

    .hero.block picture:last-of-type img {
        top: -380px;
    }
}
