.image-near-hotels.block  {
  display: flex;
  flex-wrap: wrap;

}

.image-near-hotels.block > div:nth-child(1) {
  width: 75%;
}

.image-near-hotels.block > div:nth-child(3) {
  width: 25%;
  color: var(--article-teaser-side-text);
  font-size: var(--font-size-medium);
  letter-spacing: -0.25px;
}

.image-near-hotels.block > div {
    padding-left: 15px;
    padding-right: 15px;
  }

.image-near-hotels.block:after, .image-near-hotels.block:before {
    content: " ";
    display: table;
}