.image-near-hotels.block  {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacing-l);
}

.image-near-hotels.block > div:nth-child(3) {
  color: var(--article-teaser-side-text);
  font-size: var(--font-size-medium);
  letter-spacing: -0.25px;
  text-align: left;
  line-height: 27px;
}
.image-near-hotels.block > div:nth-child(3) > div {
  border-top: 1px solid;
  border-color: var(--article-teaser-border);
  padding-top: 30px;
}

.image-near-hotels.block:after, .image-near-hotels.block:before {
    content: " ";
    display: table;
}
.ch-icon-map-marker:before {
    content: "";
}

@media (min-width: 768px) {
.image-near-hotels.block > div:nth-child(1){
    width: 75%;
    padding-right: 15px;
}
.image-near-hotels.block > div:nth-child(3){
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
}

