.links-on-pictures {
    display: block;
    box-sizing: border-box;
    padding: var(--spacing-l) var(--spacing-l) var(--spacing-l) 0;
}

.link-on-picture {
    position: relative;
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
    float: left;
}

.link-on-picture img {
    border: solid 1px #ddd;
}

.link-on-picture p {
    margin-top: 0;
    margin-bottom: 0;
}

.link-on-picture a {
    color: var(--page-navigation-background-color);
}

.link-on-picture .text-link-on-picture {
    text-decoration: none;
    position: absolute;
    top: 50%;
    font-size: 24px;
    font-weight: 400;
    padding: 10px 50px 10px 20px;
    text-align: left;
    transform: translateY(-50%);
}

.link-on-picture .text-link-on-picture:hover {
    text-decoration: underline;
}

@media (max-width: 990px) {
    .link-on-picture {
        height: 160px;
    }

    .link-on-picture img {
        height: 160px;
        width: 800px;
        object-fit: none;
    }
}

@media (min-width: 768px) {
    .link-on-picture {
        width: 25%;
    }
}
