footer {
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-xs);
}

footer .block {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer .footer p {
  margin: 0;
}

footer .columns > div {
  flex-direction: row;
  justify-content: space-around;
}

footer .block > div > div {
  padding-top: 32px;
  padding-bottom: 32px;
}

footer .block > div > div:first-child {
  border-bottom: 1px solid #e4e4e4;
}

footer .block ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size: var(--body-font-size-xxs);
}

footer .block p {
  font-size: var(--body-font-size-xxs);
}

footer .block ul > li {
  margin-right: 20px;
}

@media (max-width: 992px) {
  footer .footer .columns > div > div:first-child {
    display: none;
  }
}

@media (max-width: 1200px) {
  footer .footer .columns > div > div:last-child {
    display: none;
  }
}
