footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
